* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #222;
}

.container {
  width: 100%;
}

.logo {
  font-size: 45px;
}

.logo-box svg {
  color: #f6e5ff;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info p {
  font-weight: 700;
}

.message-box {
  padding: 40px;
  overflow-y: scroll;
  height: 80vh;
}

.messages-user p {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.user-info img,
.user-info p,
.user-info svg {
  margin-right: 10px;
}
.user-info img,
.message img,
.message-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo-box {
  width: 5%;
}

.header {
  display: flex;
  align-items: center;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 20px;
  width: 95%;
  border-left: 1px solid gray;
  margin-left: 14px;
}

.messages {
  background-color: #f6e5ff;
}
.messages,
.links,
.photos {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.messages p,
.links p,
.photos p {
  margin-left: 10px;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  background-color: #f6f6f6;
  height: 80vh;
  width: 20%;
  margin-left: 25px;
  border: 1px solid gray;
}

.mini-sidebar {
  width: 5%;
  height: 80vh;
  padding-left: 20px;
}

.mini-sidebar-icons svg,
.expand svg {
  margin-bottom: 20px;
  font-size: 30px;
}

.message-info p {
  background-color: #f6f6f6;
  padding: 10px;
}

.message-info small {
  font-weight: 700;
}

.message-info {
  margin-left: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 85%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f6f6f6;
  border: 1px solid #222;
}

input[type="text"]:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #6b0f99;
  font-weight: 700;
}

.typing {
  display: none;
}

.show {
  display: block;
}

.message-user {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.typing-indicator span {
  width: 5px;
  height: 5px;
  background-color: #222;
  border-radius: 50%;
  margin-right: 5px;
  animation: dot-animation 1.5s infinite;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.5s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 1s;
}
.typing-indicator small {
  margin-right: 5px;
}
@keyframes dot-animation {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
    background-color: #222;
  }
  50% {
    transform: scale(1.5);
    background-color: #999;
  }
}
